.container {
    margin:  10px;
}
.answ-box{
    background-color: rgb(252, 252, 249);
    width: 500px;
    height: 220px;
    margin: 8px auto;
    padding: 10px;
   text-align: center;
    border-radius: 10px;
}
.quest{
    background-color: rgb (252, 252, 249);
    height: 80px;
    margin: 10px ;
    padding: 5px;
    
}