@import '../../styles/colors.scss';

.likeBtn {
    width:35px;
    height:35px;
    margin: 0;
    &:disabled {
        background-color: $primaryMain;
        color:white;
    }
}

.counterContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counter {
    width:35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
