$primaryBlue: #0facf5;
$primaryBlueLight: #bce2ef;
$primaryBlueDark: #0c6798;
$secondaryBlue: #C1CDD1;

$primaryMain: #d392f6;
$primaryDark: #be56ef;
$errorMain: #d32f2f;
$errorDark: #c62827;
$successMain: #26d82f;
$successDark: #215a25;

$outlinedButtonBackground: #f3f4fa;